<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />


<title>Add Recipe</title>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Home Page</a> <a
						class="navbar-brand" href="#" th:href="@{/cookbooks}">Cookbooks</a>
					<a class="navbar-brand" href="#" th:href="@{/recipes}">Recipes</a>
					<a
						th:if="${#strings.equals(#authentication.principal.getAuthorities()[0], 'ROLE_ADMIN')}"
						class="navbar-brand" href="#" th:href="@{/admin}">Admin</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<br> <br>
		<h2>Create Recipe</h2>

		<form action="#" th:action="@{/saveRecipe}" th:object="${recipe}"
			method="POST">
			<input type="text" th:field="*{title}" placeholder="Recipe Tilte"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{description}" placeholder="Recipe Description"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{imageUrl}" placeholder="Recipe Image URL"
				class="form-control mb-4 col-4"><input type="text"
				th:field="*{ingredients}" placeholder="Recipe Ingredients"
				class="form-control mb-4 col-4"><input type="text"
				th:field="*{instructions}" placeholder="Recipe Instructions"
				class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Create
				Recipe</button>
		</form>

		<hr>

		<a th:href="@{/cookbooks}"> Back to All Recipes</a>
	</div>
</body>

</html>