<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />


<title>Recipe</title>
</head>
<style>
@import
	url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap")
	;

#main_container {
	font-family: "Montserrat", sans-serif;
	background-color: #e9ecef;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 3%;
}

#form_select {
	width: 60%;
	margin-bottom: 2%;
}

hr{
	background-color: black;
	height: 1px;
}
</style>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home Page</a> <a
					class="navbar-brand" href="#" th:href="@{/cookbooks}">Cookbooks</a>
				<a class="navbar-brand" href="#" th:href="@{/recipes}">Recipes</a> <a
					th:if="${#strings.equals(#authentication.principal.getAuthorities()[0], 'ROLE_ADMIN')}"
					class="navbar-brand" href="#" th:href="@{/admin}">Admin</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div th:if="${param.success}" class="container">
		<div class="alert alert-info" id="alert">Recipe added to
			cookbook successfully</div>
	</div>
	<div class="container" id="main_container">
		<div id="top_info" style="display: flex;">
			<img th:src="${recipe.imageUrl}" width="25%"
				style="margin-right: 3%;" />
			<div id="main_info">
				<h1 th:text="${recipe.title}"></h1>
				<h2
					th:text="'By: ' + ${recipe.userId.firstName} + ' ' + ${recipe.userId.lastName}"
					style="font-size: 20px"></h2>
				<p th:text="${recipe.description}" style="font-size: 20px"></p>
				<hr>
				<a th:if="${param.add == null and cookbooks.size() != 0}"
					th:href="@{?add}" class="btn btn-primary">Add to Cookbook</a>
				<div th:if="${cookbooks.size() == 0}">
					<h4>You currently have no cookbooks</h4>
					<a th:href="@{/showNewCookbookForm}" class="btn btn-primary">Create
						a bookbook</a>
				</div>
				<form th:if="${param.add}"
					th:action="@{/addToCookbook/{id}(id=${recipe.id})}" method="POST">
					<label for="cookbookId">Cookbook:</label> <select name="cookbookId"
						class="form-control" id="form_select">
						<option th:each="cookbook : ${cookbooks}"
							th:text="${cookbook.title}" th:value="${cookbook.id}"></option>
					</select>
					<div>
						<button type="submit" class="btn btn-info col-2">Add to
							Cookbook</button>
						<a th:if="${param.add}" th:href="@{/recipe/{id}(id=${recipe.id})}"
							class="btn btn-danger">Cancel</a>
					</div>
				</form>
			</div>
		</div>
		<h2>Ingredients</h2>
		<p th:text="${recipe.ingredients}"></p>
		<h2>Instructions</h2>
		<p th:text="${recipe.instructions}"></p>
	</div>
</body>
</html>